/* Wrapper Component Styles */
.headerA__wrapper {
  height: 100px;
  -webkit-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
}

.headerA__inner-wrapper {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.logo-container {
  box-sizing: border-box;
  flex-shrink: 0;
  overflow: visible;
  display: flex;
  align-items: center;
  max-width: none;
}

.nav-container {
  flex: 5;
  display: flex;
  justify-content: flex-end;
  min-width: 0;
  overflow: visible;
}
