/* Center Layout Styles */
.center {
  width: 100%;
  padding: 0;
}

.section-header {
  margin: 20px 0;
}

.product-container--wrapper {
  margin: 15px 0;
}

.image-banner {
  width: 100%;
  margin: 10px 0;
}

.column-grid-container {
  display: grid;
  gap: 0px;
  margin: 0px 0;
}

.brand--wrapper {
  margin: 20px 0;
}


.carousel-container-center {
  width: 100vw;
  min-width: 1280px;
  overflow: hidden;
  position: relative;
}

.carousel-container-center--content {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1180px;
}

.carousel-container-center--content .slick-slide>div {
  display: flex;
  align-content: center;
}

.carousel-container-center .image-banner__picture {
  width: 100vw;
  max-width: 1180px;
  height: auto;
  object-fit: cover;
}

.carousel-container-center .slick-dots {
  bottom: 10px;
}

.carousel-container-center .slick-dots li button:before {
  font-size: 30px;
  opacity: 1;
  color: #d8d8d8;
}

.carousel-container-center .slick-dots .slick-active button:before {
  color: #4a4e5c;
}

.carousel-container-center .ico-chevron-left,
.carousel-container-center .ico-chevron-right {
  font-size: 24px;
  line-height: 50px;
  vertical-align: middle;
  color: #4a4e5c;
}